/* .MuiMenu-paper {
    max-width: 200px !important;
} */

.hideCalender {
    height: 0px;
    overflow: hidden !important;
    transition: all 0.5s ease-in-out;
}

.showCalender {
    height: 350px;
    overflow: hidden !important;
    transition: all 0.5s ease-in-out;
}

.cursor-pointer {
    cursor: pointer !important;
}


::-webkit-file-upload-button {
    display: none !important;
}

::file-selector-button {
    display: none !important;
}